<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="icon" href="/public/favicon.ico">
    <title>About</title>
</head>
<body>
    <div class="nav">
       <a ref="contacts.html" href="./contacts.html">Contacts</a>
       <a ref="home.html" href="./home.html">Home Page</a>
   
    </div>   
   <div class="top-container">
       <img class="top-cloud" src="/public/cloud.png" alt="cloud">
   <div class="title-text">
       <h1>About.</h1>
       <h2 class="future">Let`s talk about my work</h2>
   </div>
       <img class="bottom-cloud" src="/public/cloud.png" alt="cloud">
       <img class="working" src="/public/casual-working-on-computer.png" alt="working-img">
   </div>
       
       <hr>
   <div class="skills">
       <h2>SEO & WebDeveloper</h2>
       <div class="skill-row">
       
       <p>I spent most of my career working in Marketing & Comms in big agencies in Portugal.
       I love to communicate and talk to people and, most of all, understand their needs. Enthusiast about everything that is related to internet for a long time, I decided to combine marketing and communication with the world of programming.</p>
       
           <hr>
   
    </div>
       
         <div class="bottom-container">
           <a class="footer-link" href="https://www.linkedin.com/in/tomas-belmar/">LinkedIn</a>
           <p class="copyright">© 2023 Tomás Belmar .</p>
         </div>
   
</body>
</html>