<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="icon" href="/public/favicon.ico">
    <title>Get In Touch</title>
</head>
<body>
    <div class="nav">
       <a ref="about.html" href="./about.html">About</a>
       <a ref="home.html" href="./home.html">Home Page</a>
    </div>   
</div>
<img class="phone" src="/public/casual-life-phone.png" alt="phone-img">
</div>

    <div class="contact-me2">
        <h2>Get In Touch</h2>
        <h3>If you want to know some deserted beaches with dreamy waves, I'll be happy to show you.</h3>
        <p class="contact-message"> Let's surf together! We can code after Surf!</p>
        <a class="btn" href="mailto:not@real.com">CONTACT ME</a>
    </div>
    </div>
       
         <div class="bottom-container2">
           <a class="footer-link" href="https://www.linkedin.com/in/tomas-belmar/"><strong>LinkedIn</strong>👁️</a>
           <p class="copyright">© 2023 Tomás Belmar .</p>
         </div>
   
</body>
</html>