<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="icon" href="/public/favicon.ico">
    <title>Tomás Belmar</title>
</head>

<body>
 <div class="nav">
    <a ref="about.html" href="./about.html">About</a>
    <a ref="contact.html" href="./contacts.html">Contacts</a>

 </div>   
<div class="top-container">
    <img class="top-cloud" src="/public/cloud.png" alt="cloud">
<div class="title-text">
    <h1>I'm Tomás Belmar.</h1>
    <h2>A <span class="future">Future </span>WebDeveloper.</h2>
</div>
    <img class="bottom-cloud" src="/public/cloud.png" alt="cloud">
    <img class="casual-life" src="/public/casual-life.png" alt="casual-img">
</div>
    
<div class="middle-container">
<div class="profile">
    <img class="tomas-img" src="/public/tomas.png" alt="tomas-profile-img">
    <h2>Hello.</h2>
    <p class="intro">I am Future Web Developer. Currently at Ironhack Bootcamp.</p>
</div>
    <hr>
<div class="skills">
    <h2>About Me.</h2>
    <div class="skill-row">
    
    <h3>Live & Love & Life</h3>
    <p>I'm a curious person with multiple interests (I always try to do it courses by myself!) And I'm passionate about my family, bodyboard and all things sea-related. My motivation starts where the challenges are, the search for solutions and the resilience to overcome.</p>
    
</div>
<div class="skill-row">
<img class="bodyboard-img" src="/public/bodyboard.png" alt="bodyboard-img">
    
            <h3>Surf and Bodyboard</h3>
            <p>I love nautical sports, mainly bodyboarding. I started doing it when I was 12 years old and never stopped, I also surf, but bodyboarding has a unique magic that I can't describe.</p>
    
        </div>
    </div>
        <hr>
        <div class="contact-me">
          <h2>Get In Touch</h2>
          <p class="contact-message"> Let's Surf together! We can code after Surf!</p>
          <a class="btn" href="mailto:not@real.com">CONTACT ME</a>
        </div>
      </div>
    
      <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/tomas-belmar/">LinkedIn</a>
        <p class="copyright">© 2023 Tomás Belmar</p>
      </div>

</body>
</html>